<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>taoCMS后台管理</title>

</head>
<frameset rows="27,*" cols="*" frameborder="no" border="0" framespacing="0">
  <frame src="admin.php?action=frame&ctrl=top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" />
  <frameset cols="180,*" frameborder="no" border="0" framespacing="0">
    <frame src="admin.php?action=frame&ctrl=menu" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" />
    <frame src="admin.php?action=frame&ctrl=main" name="mainFrame" id="mainFrame" />
  </frameset>
</frameset>
<noframes>您的浏览器不支持框架</noframes>
</html>