{inc:header}
<form action="admin.php" method="post">
<table width="699" border="0" cellspacing="0" cellpadding="1" class="addtable">
    <tr>
      <td width="87" scope="col">网站名称</td>
      <td width="608" scope="col"><input name="WEBNAME" type="text" id="WEBNAME" title="前台页面显示的网站名称" value="{webname}"/>
      </td>
    </tr>
	<tr>
      <td width="87" scope="col">网站网址</td>
      <td width="608" scope="col"><input name="WEBURL" type="text" id="WEBURL"  title="前台页面网址"  value="{weburl}"/>
     <br />说明：以http://开头，/结束，建议填写{webbaseurl}</td>
    </tr>
	<tr>
      <td width="87" scope="col">网站简介</td>
      <td width="608" scope="col"><textarea name="WEBINFO" id="WEBINFO"  title="前台页面网站介绍" >{webinfo}</textarea></td>
    </tr>
	<tr>
      <td width="87" scope="col">网站公告</td>
      <td width="608" scope="col"><textarea name="ANNOUNCE" id="ANNOUNCE" title="前台页面网站公告" >{announce}</textarea></td>
    </tr>
	<tr>
      <td width="87" scope="col">后台目录</td>
      <td width="608" scope="col"><input name="ADMINDIR" type="text" id="ADMINDIR" title="后台相对地址，你可以修改本参数，然后修改admin文件夹名" value="{admindir}"/></td>
    </tr>
	<tr>
      <td width="87" scope="col">时间休正</td>
      <td width="608" scope="col"><input name="TIMEMOD" type="text" id="TIMEMOD" title="修正服务器时间，正数为服务器时间+修正小时" value="{timemod}"/>
        <a name="times" id="times"></a><br />
(当前{nowtime}，修正后{modtime})</td>
    </tr>
	<tr>
      <td width="87" scope="col">每页文章数</td>
      <td width="608" scope="col"><input name="EACHPAGE" type="text" id="EACHPAGE" title="每页显示的文章数目，影响后台列表、前台列表" value="{eachpage}"/></td>
    </tr>
	<tr>
	  <td scope="col">文本编辑器</td>
	  <td scope="col"><select name="TAOEDITOR" id="TAOEDITOR"  title="文章编辑页面的编辑器，选择非官方默认编辑器需要下载安装包" >
        <option value="1">官方默认</option>
        <option value="2">Xheditor</option>
      </select></td>
    </tr>
	<tr>
      <td width="87" scope="col">是否调试</td>
      <td width="608" scope="col"><select name="TAODEBUG" id="TAODEBUG" title="是否显示服务器的全部报错信息" >
          <option value="1">是</option>
          <option value="0">否</option>
        </select>      </td>
    </tr>
	<tr>
      <td width="87" scope="col">系统目录</td>
      <td width="608" scope="col"><input name="SYS_ROOT" type="text" id="SYS_ROOT" title="系统所在的目录的绝对地址" value="{sys_root}"/><br />
(当前{local})</td>
    </tr>
	<tr>
      <td width="87" scope="col">缓存地址</td>
      <td width="608" scope="col"><input name="CACHE" type="text" id="CACHE" title="缓存文件夹的相对地址" value="{cache}"/></td>
    </tr>
    <tr>
      <td width="87" scope="col">模板缓存时间</td>
      <td width="608" scope="col"><input title="模板重新编译的时间间隔，如不修改模板，建议设为一个很大的间隔时间。" name="CACHELAST" type="text" id="CACHELAST"  value="{cachelast}"/>秒</td>
    </tr>
	<tr>
      <td width="87" scope="col">include目录</td>
      <td width="608" scope="col"><input name="INC" type="text" id="INC" title="系统核心文件所在相对目录，不建议修改" value="{inc}"/></td>
    </tr>
	<tr>
      <td width="87" scope="col">数据库类型</td>
      <td width="608" scope="col">
        <select name="DB" id="DB" title="修改数据库类型，不建议修改" >
          <option value="Sqlite">Sqlite</option>
          <option value="Mysql">Mysql</option>
        </select>
      </td>
    </tr>
	<tr>
      <td width="87" scope="col">数据库地址</td>
      <td width="608" scope="col"><input name="DB_NAME" type="text" id="DB_NAME"  value="{db_name}" title="说明:Sqlite数据库直接写库文件地址，Mysql则按配置规则：”数据库地址|用户名|密码|数据库名“填写。如“localhost|root|root|taocms”"/>
	
    </td>
    </tr>
    <tr>
      <td width="87" scope="col">Memcache配置</td>
      <td width="608" scope="col"><input name="MEMCACHE" type="text" id="MEMCACHE"  value="{memcache}" title="说明:不使用Memcache请留空。配置规则：“Memcache服务器IP|端口|超时时间(可以不写)“，例如“127.0.0.1|11211”"/>
<a href="admin.php?action=config&amp;ctrl=memflush" onclick="return confirm('确认清空Memcache缓存？')">清空缓存</a>
</td>
    </tr>
	<tr>
      <td width="87" scope="col">数据表前缀</td>
      <td width="608" scope="col"><input name="TB" type="text" id="TB" title="数据表前缀，不建议修改" value="{tb}"/></td>
    </tr>
	<tr>
      <td width="87" scope="col">生成纯静态</td>
      <td width="608" scope="col"><select name="CREATHTML" id="CREATHTML" title="是否生成纯静态，选择后菜单中会出现生成静态选项" >
          <option value="1">是</option>
          <option value="0">否</option>
        </select></td>
	</tr>
	<tr>
      <td width="87" scope="col">文章点击统计</td>
      <td width="608" scope="col"><select name="VIEWSCOUNT" id="VIEWSCOUNT" title="是否统计文章点击次数" >
          <option value="1">是</option>
          <option value="0">否</option>
        </select></td>
	</tr>
	    <tr>
	      <td scope="col">栏目URL</td>
    <td scope="col"><input name="CATURL" type="text" id="CATURL"  value='{caturl}' title="栏目URL修改后，请到管理栏目重新生成URL，否则栏目URL不发生变化"/>
    <br />说明:{ id }栏目ID{ nickname }栏目别名,如{ id }.html，使用标签时去掉大括号内的空格，不要带<strong>单引号</strong></tr>
	<tr>
	      <td scope="col">文章URL</td>
          <td scope="col"><input name="ATLURL" type="text" id="ATLURL"  value='{atlurl}' title="文章URL修改后，请到管理文章重新生成URL，否则文章URL不发生变化"/>
             <br />
             说明:{ Y }年{ m }月{ d }日{ id }文章ID {slug}文章别名,如{ Y }/{ m }/{ id }.htm，使用标签时去掉大括号内的空格，不要带<strong>单引号</strong>
             </td>
	</tr>
	
    <tr>
      <td width="87" scope="col">模板</td>
      <td width="608" scope="col">
	  <SELECT  name="THEME" id="THEME" title="选择不同模板，网站呈现不同的样式" >
	<!-- $themelist AS $tv -->
	<!-- if($tv."/"==$theme) -->selected<!-- end --> >{tv}<!-- if($tv."/"==$theme) -->selected<!-- end --> >{tv}<option value="{tv}/" <!-- if($tv."/"==$theme) -->selected<!-- end --> >{tv}</option>
	<!-- END -->  
	</SELECT>    </tr>
	<tr>
      <td colspan="2" scope="col"><input name="action" type="hidden" value="config" />
<input name="ctrl" type="hidden" value="update" />
<input type="submit" name="Submit" id="submits" value="保存配置" /></td>
    </tr>
</table>
</form>
<script language="javascript">
SelectItemByValue($tao('CREATHTML'),{creathtml});
SelectItemByValue($tao('TAODEBUG'),{taodebug});
SelectItemByValue($tao('TAOEDITOR'),{taoditor});
SelectItemByValue($tao('VIEWSCOUNT'),{viewscount});
SelectItemByValue($tao('DB'),'{db}');
{run:}

if( RUNONSAE ||RUNONBAE )
	{
	echo '
	alert("在SAE/BAE环境下，无法修改配置，请手动修改config.php");
	';
	
	}
{/run}

if($tao('WEBURL').value=='./'){
	alert('请设置网站地址！');
	$tao('WEBURL').focus();
	
}
</script>

{inc:footer}