{inc:header}
<form action="admin.php" method="post" id="multctrl">
<div class="controlban"><a href="javascript:if(confirm('确认删除选中的评论？'))$tao('multctrl').submit();">批量删除</a></div>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
<tr>
  <th><input type="checkbox"  onclick="VerifyRadio();"/></th>
  <th>时间</th>
<th>留言者</th>
<th>邮箱</th>
<th>内容</th>
<th >IP</th>
<th >页面</th>
<th>操作</th>
</tr>
<!-- $list AS $atl -->  
  <tr onmouseover="this.style.backgroundColor='#F4F4F4'" onmouseout="this.style.backgroundColor=''">
    <td align="center"><input name="id[]" type="checkbox" id="id[]" value="{atl['id']}" /></td>
    <td>{run:}echo date('Y-m-d H:i:s',$atl['times']);{/run}</td>
    <td><!-- if[$atl['websites']] --><a href="{atl['websites']}" target="_blank" title="点击查看网址">{atl['name']}</a><!-- else -->{atl['name']}<!-- end --></td>
	<td>{atl['emails']}</td>
    <td>{atl['content']}</td>
    <td>{atl['ips']}</td>
   	<td>
   	<!-- taolistCMS:cms|id=$atl[article_id]|1||staticurl,name -->
   	<a target="_taogogo" href="../{listCMS['staticurl']}">{listCMS['name']}</a>
	<!-- end -->
	</td>
    <td><a href="?action=comment&id={atl['id']}&ctrl=del" onclick="return confirm('确认删除')">删除</a></td>
  </tr>
  <!-- END -->
  </table>
  <input type="hidden" name="action" value="comment" />
	<input type="hidden" name="ctrl" value="del" />
</form>
<div class="navigation">
		<!-- if($page!=0) --><div class="floatLeft"><a href="?action=comment&ctrl=lists&p={uppage}" }}">&laquo; 上一页</a></div><!-- end -->
		<!-- if($downpage!=$page) --><div class="floatRight"><a href="?action=comment&ctrl=lists&p={downpage}">下一页 &raquo;</a></div><!-- end -->
</div>
<!-- 用于判断提示检测的方法$_i==0 -->  
<!-- IF[$_i==0] -->  
<div style="clear:both;";>抱歉，没有评论!</div  
><!-- END -->  
{inc:footer}