{inc:header}
<form action="admin.php" method="get">
<table width="769" border="0" cellspacing="0" cellpadding="1" class="addtable">
    <tr>
      <td width="110" scope="col">采集地址:</td>
      <td width="585" scope="col"><input name="front" type="text" style=" width:300px;" id="front"  value="http://xiaoxixi.sinaapp.com/?id-" size="40"/>
      (
      <input name="start" type="text" id="start" style=" width:60px;" value="1500" size="10"/>
      到
      <input name="rend" type="text" id="rend" style=" width:60px;"  value="1550" size="10"/>
      )
      <input name="back" type="text" id="back" style=" width:100px;"  value=".htm" size="15"/></td>
    </tr>
    <tr>
      <td scope="col"><p>每次采集页数:</p></td>
      <td scope="col"><input name="each" type="text" id="each"  value="1"/></td>
    </tr>
	<tr>
      <td scope="col"><p>字符编码:</p></td>
	  <td scope="col"><input name="basecode" type="text" id="basecode"  value="utf-8"/></td>
    </tr>
	<tr>
      <td width="110" scope="col">标题采集规则:</td>
      <td width="585" scope="col"><textarea name="titlepreg" cols="40" id="titlepreg"><title>[title]</title></textarea>
      <br />
      *[title]为标题标签</td>
    </tr>
	<tr>
      <td width="110" scope="col">内容采集规则:</td>
      <td width="585" scope="col"><textarea name="contentpreg" cols="40" id="contentpreg"><span class="smalltxt">[content]<div id="digit"></textarea>
      <br />
      *[content]为内容标签</td>
    </tr>
	<tr>
      <td width="110" scope="col">采集栏目:</td>
      <td width="585" scope="col"><SELECT  name="cat" id="cat">
	<option value="0">未分组</option>
	<!-- $category AS $atl -->
	<option value="{atl['id']}" >{atl['name']}</option>
	<!-- END -->  
	</SELECT></td>
    </tr>
	<tr>
	  <td scope="col">过滤文字:</td>
	  <td scope="col"><textarea name="repword">笑嘻嘻|taoCMS
快乐|高兴</textarea><br />(替换规则每行一条，每条规则中间用|隔开，|前是被替换的字符，后面是替换成的字符。<br />如默认的第一行为把“-笑嘻嘻"替换为taoCMS，)</td>
    </tr>
	
	<tr>
	  <td scope="col">保留链接</td>
	  <td scope="col"><input name="llink" type="checkbox" id="llink" value="1" class="sinput" checked /></td>
    </tr>
	<tr>
	  <td scope="col">测试采集</td>
      <td scope="col"><input name="test" type="checkbox" id="test" value="1"  class="sinput" /></td>
	</tr>
	<tr>
      <td colspan="2" scope="col">
<input name="action" type="hidden" value="spider" />
<input name="ctrl" type="hidden" value="execute" />
<input type="submit" name="Submit" id="submits" value="开始采集" /></td>
    </tr>
</table>
</form>
{inc:footer}